@media (max-width: 768px) {
    #desktop-nav {
        display: none; /* hide desktop nav */
    }

    #hamburger-menu {
        display: flex; /* show hamburger menu */
    }

    #hamburger-links.show {
        display: flex; /* Show links when toggled */
    }

    #cal-logo-container {
        display: none;
    }


    #about-paragraph-desktop {
        display: none;
    }

    #about-paragraph-hamburger {
        display: flex;
    }

}

/* Show Desktop navigation for screens 1024px and above */
@media (min-width: 1024px) {
    #desktop-nav {
        display: flex; /* show desktop nav */
    }

    #hamburger-menu {
        display: none; /* hide hamburger menu */
    }

    #about-paragraph-desktop {
        display: flex;
    }

    #about-paragraph-hamburger {
        display: none;
    }


}