/* Show desktop navigation for screens 1024px and above */
@media (max-width: 768px) {
    #desktop-nav {
        display: none; /* hide desktop nav */
    }

    #hamburger-menu {
        display: flex; /* show hamburger menu */
    }

    #hamburger-links.show {
        display: flex; /* Show links when toggled */
    }
}

/* Show Desktop navigation for screens 1024px and above */
@media (min-width: 1024px) {
    #desktop-nav {
        display: flex; /* show desktop nav */
    }

    #hamburger-menu {
        display: none; /* hide hamburger menu */
    }
}