body {
    margin: 0;
    padding: 0;
}
h1, h3, h4, h5, h6 {
    margin: 0; /* Remove any margins */
    padding: 5px; /* Remove any padding */
    line-height: 2; /* Tighten line spacing */
}


#nav-links {
    display: flex;                      /* enable flexbox */
    justify-content: center;            /* center li */
    list-style: none;                   /* removes bullet points */
    width: 100%;                        /* ensure the nav bar spans the full width */
    text-decoration: none;
}

.nav-li-link {
    padding: 0 3rem;                    /* space out all the links */
}

a {
    text-decoration: none;              /* removes underline from link */
    color: black;                       /* change the color of the links */
}

a:hover {
    color: gray;                        /* change the color of the links on hover */
}

.image-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;                 /* makes the image circular */
}

.image-container img {
    width: 100%;                        /* makes the image take up the whole container */
    height: 100%;
    object-fit: cover;                  /* Maintain image aspect ratio */
    border-radius: 50%;                 /* makes the image circular */
}


#headline {
    padding-top: 10rem;
    padding-bottom: 12rem;
    display: flex;
    gap: 9rem;                          /* adds space between image and text */
    align-items: center;            /* Align items to the top of the container */
    justify-content: center;            /* center horizontally */
}

#headline-info {
    display: flex;                      /* enable flexbox */
    flex-direction: column;             /* Stack elements vertically */
}

#buttons {
    display: flex;
}

#about-me {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
}



#get-to-about-container {
    text-align: center;
    font-size: 1.5rem;
}