@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1, h2,
h3, h4,
h5, h6 {
    margin: 0; /* Remove any margins */
    line-height: 2; /* Tighten line spacing */
}

ul {
    list-style: none;
}

p {
    color: rgb(85, 85, 85);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* NAVIGATION BAR */
#desktop-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    display: flex;
    justify-content: right;
    list-style: none;
    width: 100%;
    gap: 3rem;
}

/* HEADLINE */
#headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 12rem 0;
    gap: 9rem;
}

.card-client {
    text-align: center;
    border-radius: 10px;
    padding: 25px 20px;
    height: 20rem;
    width: 15rem;
    transition: all 0.3s ease;
    background: #555;
    color: #fff;
    border: 4px solid #fff;
    box-shadow: 0 6px 10px #212121;
}

.card-client:hover {
    transform: translateY(-15px);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border: .25vh solid #fff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.user-picture svg {
    width: 2.5rem;
    fill: currentColor;
}

.user-picture img {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image doesn't get distorted */
    border: 2px solid #ddd; /* Optional: Add a border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}


.name-client {
    margin: 3rem 0 0;
    font-weight: 600;
    font-size: 18px;
    color: ghostwhite;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-right: 3rem;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0 rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
            45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f
    );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

/* ABOUT ME */
#about-me {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 4rem;
}

#about-section-headliner {
    text-align: center;
    font-size: 1.5rem;
}

/* EXPERIENCE */
#experience {
      text-align: center;
      font-size: 1.5rem;
      padding-top: 10rem;
  }

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

footer {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}


